.logo-style{
    width: 300px;
}
.top-font{
    font-size: 40px;
}
.orange-text{
    color: #FABE4C;
}
.darkblue-text{
    color: #363958;
}
header, .intro{
    background-color: #FFFBF0;
}
.slide-background{
    background-color: lightgray;
    border-radius: 20px;
}
.offer-image{
    width: 250px;
    height: 350px;
    overflow: hidden;
}
.button-highlight{
    background-color: #A4BC46;
    border: none;
    border-radius: 10px;
}
.button-highlight:hover{
    background-color: #859b2e;
}
.product-image{
    width: 250px;
    height:350px;
    margin: auto;
    display: block;
    overflow: hidden;
    padding: 10px;
}
.product-image-background{
    background-color: #F1F1F1;
    border-radius: 10px;
    margin: 10px;
}
.product-background{
    border: none;
    border-radius: 10px;
}
.footer-background{
    border: none;
    background-color: white;
    border-radius: 10px;
}
.icon-image{
    width:5em;
}
.cart-size{
    width: 100%;
}
.gray-text{
    color: gray;
    font-size: 18px;
}
.offer-money-text{
    color:crimson;
}
.footer{
    color: gray;
    text-align: center;
}
